body {
  background-color: #cecece;
  color: #222;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-image {
  flex-basis: 7%;
}

.title {
  flex-basis: 63%;
  text-align: right;
}

.logo {
  width: 72px;
}

form {
  font-size: 20px;
  position: relative;
}

select {
  font-size: 16px;
}

#search-bar {
  width: 50%;
  font-size: 20px;
  background-color: #fff;
  padding: 8px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

#limit-label {
  margin: 20px;
}

#search-bar:focus {
  outline: none;
}

#limit {
  height: 40px;
  font-size: 1.0em;
  border: none;
}

#limit:focus {
  outline: none;
}

#submit {
  font-size: 20px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background: #17607D;
  color: white;
  position: absolute;
  right: 0;
  cursor: pointer;
  box-shadow: 1px 1px 2px gray;
}

#submit:hover {
  background: #124C63;
}

#submit:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: #222;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.result {
  flex-basis: 22%;
  text-align: center;
  min-width: 200px;
  margin: 30px 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.artist {
  font-size: 0.9em;
  margin: 8px 0 0;
  font-family: 'Montserrat', sans-serif;
}

.song {
  font-size: 1.2em;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.artist:hover, .song:hover {
  color: #C96A00;
}

.result-image-div {
}

.one-hundred {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  box-shadow: 1px 1px 2px gray;
}

.play-image {
  cursor: pointer;
  transition: 500ms;
}

.not-playing {
  opacity: 0;
}

.not-playing:hover {
  opacity: 0.8;
}

.playing {
  opacity: 0.8;
}

.hide {
  display: none;
}

@media screen and (max-width: 900px) {
  #submit {
    position: static;
    margin: 10px 0 10px 10px;
  }
  #search-bar {
    width: 100%;
    margin-bottom: 10px;
  }
  #limit-label {
    margin: 0;
  }
  #submit {
    margin: 0;
  }
}
