body {
  background-color: #cecece;
  color: #darkgray;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  text-align: center;
}

form {
  font-size: 20px;
  position: relative;
}

select {
  font-size: 16px;
}

#search-bar {
  width: 50%;
  font-size: 20px;
  background-color: #fff;
  padding: 8px;
  border: none;
  border-radius: 3px;
}

label {
  margin: 20px;
}

#search-bar:focus {
  outline: none;
}

#submit {
  font-size: 20px;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  background: #17607D;
  color: white;
  position: absolute;
  right: 0;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result {
  flex-basis: 22%;
  text-align: center;
  min-width: 200px;
  margin: 30px 0;
}

.artist {
  font-size: 0.8em;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.song {
  font-size: 1.2em;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.result-image-div {
}

.one-hundred {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.play-image {
  opacity: 0;
  cursor: pointer;
  transition: 500ms;
}

.play-image:hover {
  opacity: 0.8;
}

@media screen and (max-width: 900px) {
  #submit {
    position: static;
    margin: 10px 0 10px 10px;
  }
  #search-bar {
    width: 100%;
  }
}
